.employe {
  background-color: #f1efef;
  margin: 30px 20px 10px 0;
  border-radius: 10px;

  padding: 10px;
  transition: all 0.3s ease-in;
}
.employe-img {
  text-align: center;
}
.employe-img img {
  width: 100px;
  height: 100px;
  border: 2px solid gray;

  border-radius: 50%;
}
.employe:hover {
  transform: translate(3px, -4px);
  border-radius: 15px;
  box-shadow: -6px 0px 8px rgb(156, 150, 150);
}

.add-card-btn {
  background-color: #708090;
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}
span {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.icon {
  margin-top: 5px;
}
